.todoItem
  display: grid
  grid-template-columns: 20px 11fr auto
  margin-bottom: 30px
  align-items: center
  grid-column-gap: 5px
  .buttonsBlock
  input, button
    padding: 8px 13px
  button
    margin-right: 8px
    &:last-child
      margin-right: 0
  .input, .todo





