$active: gold

nav
  display: flex
  align-items: center
  div:nth-child(1)
    margin-right: 25px
  a
    text-decoration: none
    text-transform: uppercase
    color: unset
    font-weight: bold
    cursor: pointer
  .link a.activeLink
    color: $active